body{
    height: 100%;
    margin: 0;
    background-color: #eff7ff;
}
.intro{
    background-image: url("../assets/backgrounds/h_img.jpg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    text-align: center;
}
.intro >img{
    position: absolute;
    top: 27%;
    left: 47%;

}
.intro >h1{
    position: absolute;
    top: 52%;
    left: 28%;
    font-size: 4.3em;
    color: white;
}
.intro >p{
   position: absolute;
    top: 78%;
    left: 30%; 
    color: white;
    font-size: 1.1em;
}
#mouse{
   position: absolute;
    top: 93%;
    left: 50%; 
}

/* FRO THE ABOUT SECTION */
.about{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    text-align: center;
}
.about >h1{
    font-size: 4.3em;
    margin-top: 70px;
}
.about >p{
    line-height: 2.5em;
}
.about1{
    background-image: url('../assets/backgrounds/s_image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 48%;
    text-align: center;
    color: white;
}
.about1 >h1{
    font-size: 4.3em;
    margin-top: 45px;
}
.about1 >p{
    line-height: 2.5em;
    margin-top: 20px;
    font-size: 1.2em;
}

/* start of the what we do section & portfolio*/
.we-do{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 200%;
}
.we-do >h1{
    font-size: 4.3em;
    margin-top: 35px;    
}
#we-do-body{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
#we-do-body >img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#card1{
    margin-left: 13px;
    margin-right: 10px;
    background: transparent;
    border: none;
}
#card2{
    margin: 0 10px;
    background: transparent;
    border: none;
}
#card3{
    margin: 0 10px;
    background: transparent;
    border: none;
}
div >p{
    margin: auto 10px;  
}
#we-do-body{
    padding: 0;
    margin: 0;
}

h1.portfolio{
    font-size: 4.3em;
    margin-top: 60px;
    margin-bottom: 0px; 
}
.images{
    width: 79%;
    justify-content: space-around;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.images >img{
    width: 23%;
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

/* start of the contact us section */
.contact-us{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 355%; 
    color: white; 
}
.contact{
    background-image: url('../assets/backgrounds/c_image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70%;
    width: 100%;
}

.contact >h1{
    font-size: 4.1em;
    margin-top: 35px;    
}
.forms >form{
    width: 65%;
    display: fex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type="email"]::placeholder { /* Firefox, Chrome, Opera */ 
    color: white; 
} 
input[type="name"]::placeholder { /* Firefox, Chrome, Opera */ 
    color: white; 
}

textarea::placeholder {
  color: #fff !important;  
}
button{
    width: 60%;
    background-color: #b5947c !important;
    color: white !important;
    border: #b5947c !important;
}
.foot{
    width: 100%;
    height: 15%;
    color: black !important;
}
.icons{
    width: 47%;
    display: fex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    justify-content: space-around;

}
.icons >img{
    width: 6%;
}
.foot >p{
    margin-top: 40px;
    letter-spacing: 3px;
    font-weight: bold;
}
